<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card color="success">
      <ion-card-header class="flex-center">
        <ion-card-title>
          <strong>Login</strong>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div>
          <ion-item color="success" lines="none">
            <ion-label position="floating">Email:</ion-label>
            <ion-input type="email" required="true"></ion-input>
          </ion-item>
          <ion-item color="success" lines="none">
            <ion-label position="floating">Senha:</ion-label>
            <ion-input type="password" required="true"></ion-input>
          </ion-item>
        </div>
        <div class="flex-center ion-border">
          <ion-item color="success" lines="none">
            <ion-button fill="clear" size="small">
              <p>esqueci a senha</p>
            </ion-button>
          </ion-item>
        </div>
        <div class="flex-center">
          <ion-item color="success" lines="none">
            <ion-button class="resgiter" fill="clear" size="large" expand="full">
              Login 
            </ion-button>
          </ion-item>
        </div>  
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>